<main>
    <section id="section-banner">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="./assets/banner-1.jpg" class="d-block w-100" alt="capa de jogo">
              </div>
              <div class="carousel-item">
                <img src="./assets/banner-2.jpg" class="d-block w-100" alt="capa de jogo">
              </div>
              <div class="carousel-item">
                <img src="./assets/banner-7.jpg" class="d-block w-100" alt="capa de jogo">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

          <h2>Jogos em Promoção</h2>

    </section>
    <mat-grid-list cols="3" >
        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="./assets/Mega_Man_8_capa.jpg" alt="Photo of a Shiba Inu">
                
                <mat-card-header>
                  
                  <mat-card-title>mega man</mat-card-title>
                 
                </mat-card-header>
                <mat-card-content>
                  <p>
                    Capcom
                  </p>
                </mat-card-content>
                <mat-card-actions>
                    <p>300,00</p>
                  <button mat-button>LIKE</button>
                  <button mat-button>Comprar</button>
                </mat-card-actions>
              </mat-card>


        </mat-grid-tile><!--contaner-1-->

        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="./assets/Super-Mario-World.jpg" alt="Photo of a Shiba Inu">
                
                <mat-card-header>
                  
                  <mat-card-title>Super Mario World</mat-card-title>
                 
                </mat-card-header>
                <mat-card-content>
                  <p>
                    Nintendo
                  </p>
                </mat-card-content>
                <mat-card-actions>
                    <p>200,00</p>
                  <button mat-button>LIKE</button>
                  <button mat-button>Comprar</button>
                </mat-card-actions>
              </mat-card>

        </mat-grid-tile><!--container-2-->

        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="./assets/cash.jpeg" alt="Photo of a Shiba Inu">
                
                <mat-card-header>
                  
                  <mat-card-title>cash Bash</mat-card-title>
                 
                </mat-card-header>
                <mat-card-content>
                  <p>
                   Euro Gamer
                  </p>
                </mat-card-content>
                <mat-card-actions>
                    <p>300,00</p>
                  <button mat-button>LIKE</button>
                  <button mat-button>Comprar</button>
                </mat-card-actions>
              </mat-card>


        </mat-grid-tile><!--container-->
       
      </mat-grid-list><!--fim-col-3-->
      


    
      



</main>
